---
import MainLayout from "../components/MainLayout.astro";
import SiteOverskrifter from "../components/SiteOverskrifter.astro";
import TopKnap from "../components/TopKnap.astro";
import CtaKnap from "../components/CtaKnap.astro";
import "../styles/generel.css";
---
<MainLayout>
    <section class="container">
        <div id="item1" class="gap">
            <SiteOverskrifter text="FORLØB" text2="PROCESS OVERSIGT"/>  
             <p>
                 Tegnestuen beskæftiger sig med igangsætning og realisering af ide- og udviklingsprojekter. Én kærneværdi, nemlig at opretholdes den tætte kontakt mellem de involverede parter i alle byggeriets forskelligartede faser - en altafgørende faktor i arbejdet med gennemførelsen af et gennemført resultat sideløbende med en præcist styret byggeproces.
            </p>
         </div>
         <article id="item3" class="item3_7" class="gap">
            <div class="tekst_til_billede">
                <h4>DESIGN BUILD GROW</h4>
                <div class="line_kort"></div>
                <p>
                Boligbyggeri, Erhvervsbyggeri, Kulturbyggeri, Have & landskab, Design & Udstillinger.
                 </p>
            </div>
            <figure class="billede">
                <img src="https://placehold.co/256x154" alt="3D model i træ">
            </figure>
        </article>
        <article id="item4" class="gap">
            <div class="gap">
                 <h6>
                   Opstartsmøde
                 </h6>
                 <div class="line_kort"></div>
            </div>
            
             <p>
                 Projektet starter med et opstartsmøde, hvor vi drøfter ønsker og behov samt vurderer potentialet og de arkitektoniske muligheder i dit byggeprojekt. Mødet finder typisk sted på Arkitekturværkstedet, hvilket giver os mulighed for at komme med konkrete idéer tidligt i processen. 
                Inden idémødet anbefaler vi, at du som bygherre identificerer dine behov og definerer din økonomiske ramme for projektet. Dette gør det muligt for os at drøfte en realistisk plan for både økonomi og tidsramme.
             </p>
        </article>
        <article id="item5" class="gap">
             <div>
                <h6>
                    skitsefase
                 </h6>
                 <div class="line_kort"></div>
            </div>
            
            <p>
              Projektet starter med et opstartsmøde, hvor vi drøfter ønsker og behov samt vurderer potentialet og de arkitektoniske muligheder i dit byggeprojekt. Mødet finder typisk sted på Arkitekturværkstedet, hvilket giver os mulighed for at komme med konkrete idéer tidligt i processen. 
                Inden idémødet anbefaler vi, at du som bygherre identificerer dine behov og definerer din økonomiske ramme for projektet. Dette gør det muligt for os at drøfte en realistisk plan for både økonomi og tidsramme.
             </p>
        </article>
        <article id="item6" class="gap">
            <div>
                <h6>
                    MYNDIGHEDSFASE
                 </h6>
                 <div class="line_kort"></div>
            </div>
            
             <p>
                 I skitsefasen udvikler vi et indledende skitseforslag baseret på idéerne fra idémødet, som illustrerer projektets udseende og omfang. 
                 Dette inkluderer et foreløbigt økonomisk overslag og en overordnet tidsplan. Det er vigtigt at bemærke, at der ikke kan opnås byggetilladelse eller igangsættes byggeri på basis af et skitseforslag alene. 
                 Betalingsstrukturen i denne fase defineres også, hvor typisk halvdelen af beløbet betales før skitseringen påbegyndes, og den anden halvdel når skitseringen er afsluttet.
          
             </p>    
</article>
<article id="item7" class="gap">
        <div>
    <h6>
        HOVEDPROJEKT
    </h6>

    <div class="line_kort"></div>
</div>
    <p>
        I hovedprojektfasen udarbejder vi detaljerede tegninger, som giver et klart overblik over projektet og er skræddersyet til opgavens specifikke krav. 
        Disse tegninger danner grundlag for både indhentning af tilbud fra entreprenører og for de håndværkere, der skal udføre byggeriet, så de har præcise instruktioner at bygge efter.
    </p>
</article>
    <figure class="billede2" class="billede">
        <img src="https://placehold.co/256x154" alt="3D model i træ">
    </figure>

</article>
<article id="item8" class="gap">
    <div>
    <h6>
        UDBUDS- OG KONTRAKTFASE
    </h6>
    <div class="line_kort"></div>
</div>
    <p>
        Før jeg sender projektet i udbud, udarbejder jeg omfattende beskrivelser og de nødvendige detaljer, som varierer afhængigt af projektets størrelse og kompleksitet. Efterfølgende vurderes de indkomne tilbud, hvorfra jeg vælger den mest egnede entreprenør. Prissætningen af udførelsen foretages af entreprenøren og afhænger af de specifikke krav og omfanget af det enkelte projekt.
    </p>
</article>
<article id="item9" class="gap">
    <div>
    <h6>
        BYGGEFASEN
    </h6>

    <div class="line_kort"></div>
</div>
    <p>
        Under byggefasen kan jeg både udføre fagtilsyn og tilbyde byggeledelse. Som byggeleder repræsenterer jeg dig over for entreprenørerne og sikrer, at arbejdet udføres korrekt og efter planen. 
        Projektets specifikke behov afgør hyppigheden af tilsyn og byggemøder. Som arkitekt sikrer jeg sammen med bygherren og ingeniøren, at vi besøger byggepladsen hver 14. dag for at kontrollere, at håndværkerne følger de detaljerede tegninger og myndighedskrav nøje. </p>
</article>
<CtaKnap text="LAD OS SAMARBEJDE" />
    </section>
    <div class="bund">
    <TopKnap/>

</MainLayout>
<style>
    body{
        margin-right:20px;
    }
  .container{
    grid-column: 2 / 5; /* Starter fra kolonne 2 og strækker sig til kolonne 5 */
  }
  .line_kort {
    border-top: 0.5px solid var(--secondary-color);
    width: 10%;
    margin-top:0.5rem;
}
  .container > *{
    padding-bottom:6rem;
  }
  /* #item3 > *{
    padding-bottom:1rem;
  } */
  .bund{
    grid-column: 3 / span 2;
  grid-row: 2;
  justify-self: end;
  }
  .gap > *{
    padding-bottom:1rem;
  }


  @media (min-width: 768px) and (max-width: 1024px) {
  .container{
    grid-column: 2 / 7; /* Starter fra kolonne 2 og strækker sig til kolonne 5 */
  }
  .sticky_menu {
    grid-row:1;
    grid-column: 1 / 2;
  }
  .bund{
    grid-column: 5 / span 2;
  grid-row: 2;
  justify-self: end;
  }
  #item1{
    margin-top:50px;
  }
  }
  @media (min-width: 1025px) {
  .sticky_menu {
    grid-row:1;
    grid-column: 1 / 3;
  }
  .container{
    grid-row:1;
    grid-column: 2 / 13; /* Starter fra kolonne 2 og strækker sig til kolonne 5 */
  }
  .bund{
grid-column: 9 / span 4;
  grid-row: 2;
  justify-self: end;
  }
  #item1{
    margin-top:50px;
  }
  .item3_7{
    display:flex;
    align-items:center;
    flex-direction:row;
  }
  .billede{
   display:block;
   padding-right:4rem;
   width:60%;
   height:auto;
  }
  .billede2{
    justify-self:end;
  }
  .tekst_til_billede{
    width:60%;
  }
  #item4,#item5,#item6,#item7,#item8,#item9{
    display:flex;
    flex-direction:row; 
  }
  /* .flex_mindre{
    width:50%
  } */
}
  </style>
