---
import Carousel from "../components/Carousel.astro";
import MainLayout from "../components/MainLayout.astro";
import TopKnap from "../components/TopKnap.astro";
import CtaKnap from "../components/CtaKnap.astro";
import "../styles/generel.css";
import SpecialBtn from "../components/SpecialBtn.astro";
---

<MainLayout> 
<div class="forsidebillede"> 
<div class="hero-billede" >
<img id="hero-image" src="/img/id0801.webp" alt="Torvehallerne København" loading="lazy"> 
<h1 class="hero-tekst">ARKITEKTURVÆRKSTEDET</h1>
</div>
</div>

<section class="indhold-section">
<article>
<br>
<div id="grid_p_index">
<p>Arkitekturværkstedet er en arkitekttegnestue, der med central beliggenhed i København, tilbyder rådgivning og planlægning indenfor nybyggeri, ombygning og istandsættelse. 
Blandt tegnestuens hidtidige arbejdsområder kan nævnes: Boligbyggeri, Erhvervsbyggeri, Kulturbyggeri, Have & landskab og Design & Udstillinger.
</p>
<p>Tegnestuen beskæftiger sig med igangsætning og realisering af ide- og udviklingsprojekter. Én kærneværdi, nemlig at opretholdes den tætte kontakt mellem de involverede parter i alle byggeriets forskelligartede faser - en altafgørende faktor i arbejdet med gennemførelsen af et smukt resultat sideløbende med en præcist styret byggeøkonomi. </p>
 </div>
 
</article>

<div class="index_knap"> 
<a href="/kontakt">
	<CtaKnap text="BOOK OPSTARTSMØDE NU">
</a>
</div>
<br>
<section class="torvehallerne_indhold"> 	
<svg class="vertical-line" width="1" height="679" viewBox="0 0 1 679" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="0.5" y1="678.016" x2="0.5" y2="-0.00280762" stroke="#E73127"/>
    </svg>
<div> 
	<div class="indhold-image-1"> 
<img src="/img/torvehallerneskitse.webp" alt="Torvehallerne skitse" loading="lazy"></div>
<br>
<h4>TORVEHALLERNE</h4>
<h5>ISRAELS PLADS</h5>
<br>
<p>Beliggende på Israels Plads i hjertet af byen, består Torvehallerne af to store, moderne haller, der huser over 80 boder og butikker.</p>
<br>
<p>Torvehallerne udførtes gennem 14 år af Arkitekturværkstedet under ledelse af arkitekt Hans Peter Hagens - i samarbejde med Københavns Torvelaug‚ stiftet i 1998 med det ene formål at arbejde hen imod en realisering af projektet.</p>

<br>
<div class="index_knap button"> 
  <SpecialBtn href="/singleview/8" text="LÆS MERE OM TORVEHALLERNE"/>
</div>
</div>
</section>
<br>
<Carousel/>
<br>
</section>
</div>
<section class="section_to"> 
<h6>Arkitekturværkstedet</h6>
<div class="section-image-1"><img src="/img/hph.webp" alt="Billede af Hans Peter Hagens" loading="lazy"></div>
<h6>HANS PETER Hagens</h6>
 <article>
      <p class="section_to_tekst">Arkitekturværkstedet etableredes som firma i eget navn i 1993 - med opgaver spændende fra traditionelle arkitekt- og håndværksopgaver, design, til landskab- og haveplanlægning. Herunder arkitekturskriveri til dagspressen og fagblade:.</p>
      <p class="section_to_tekst">Lokal arkitektur rummer unikke historiske og poetiske særpræg og er omhyggeligt afstemt klima, levevis og kultur, der præger det land og det kontinent, der omgiver den.</p>
      <p class="section_to_tekst">Der er mange værdier i oprindelige byggestile og arkitektur, men traditionel regional byggestil erstattes oftere og oftere af vestlige tilgange, uden at man skeler til de arkitektoniske og funktionelle tab, det indebærer. Der er brug for slidstærke og vejrbestandige konstruktionsprincipper – men de må og skal kombineres med et markant fokus på de oprindelige kvaliteter af hensyn til kulturarv såvel som bæredygtighed.</p>
 </article>
 <br/>
 <br/>
<br/>
 <div class="knap_grid">
  <div class="knap">
    <a href="/kontakt">
  <CtaKnap text="LAD OS SAMARBEJDE"/>
    </a>
</div>
</div>
    </section>
<div class="bund_grid">
		<div class="bund"> 
		<TopKnap/>
</div>
</div>
</MainLayout>





<style>

/*INDEX_SIDE MOBILESITE */
a{
     text-decoration: none;
            color: inherit;
        }
  .forsidebillede {
    width: 100%;
    height: 100vh;
    grid-column: 1 / -1;
    grid-row: 1 / 5;
  }

  #hero-image {
   position:absolute;
   left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .hero-tekst, h1 {
    grid-area: 1 / 1 / 2 / 2;
    position: absolute;
    bottom: 0;
    left: 55.5%;
    transform: translateX(-50%);
    padding-bottom: 20%; 
  }
 .indhold-section {
  grid-column: 1 / -1;
  grid-row: 5 / 9;
  padding: 20px;
  display: grid;
  gap: 20px;
  position: relative;
}

.vertical-line {
  grid-column: 1 / 2;
  width: 1px;
  color: var(--tertiary-color);
}

.torvehallerne_indhold{
display: grid;
grid-template-columns: 5% 3fr;
justify-content: center;
}
.indhold-section section {
    margin-bottom: 20px;
}

.indhold-section p {
    margin: 0 0 1rem;
}

.indhold-section img {
    display: block;
}

.indhold-section h4,
.indhold-section h5 {
    margin: 0.5rem 0;
}

.section_to {
    grid-column: 1 / -1;
    grid-row: 10 / 12;
    padding: 20px;
    text-align: center;
}

.section_to h6 {
    margin: 20px 0;
}

.section_to img {
    display: block;
    margin: 20px auto;
}

.section_to p {
    margin-top: 20px;
	text-align: left;
}
.section_to_tekst{
	margin-right: 3%;
}
.knap_grid{
    display:grid;
    grid-template-columns:1fr 3fr;
    padding-right: 3rem;
  }
  /* Placerer den første knap i første kolonne */
  .knap:nth-child(1) {
        grid-column: 2; 
    }
    .knap{
      margin-bottom: 15%;
    }


/*styling af tilbage-til-top-knap */
    .bund_grid{
    display:grid;
    grid-template-columns:1fr 5fr;
  }
    .bund:nth-child(1) {
        grid-column: 4; /* Placerer den første knap i første kolonne */
    }


 /* TABLET & INDEX-SIDE (768px til 1024px) */
 @media (min-width: 768px) and (max-width: 1024px) {
  .indhold-section {
    grid-column: 2 / 8;
    grid-row: 5 / 9;
    padding: 40px;
  }
  .section_to {
    grid-column: 2 / 8;
    grid-row: 10 / 12;
    padding: 40px;
  }
}
 /* INDEX-SIDE DESKTOP (1025px +) */
 @media (min-width: 1025px) {

	.grid_p_index:nth-child(2){
		grid-column: 2;
}
#grid_p_index{
	display: grid;
	grid-template-columns: 1fr 1fr;
	 gap: 20px;
}
  .indhold-section {
    grid-column: 3 / 11;
    grid-row: 5 / 9;
    padding: 60px;
  }

  .section_to {
    grid-column: 4 / 11;
    grid-row: 10 / 12;
    padding: 60px;
  }
  .section_to img{
    height: 500px;
    width: auto;
  }

  .indhold-image-1 {
    width: 519px;  
    height: 424px; 
  }

  .section-image-1 {
	justify-content: center;
	margin: 20px auto;
    width: 556px;  
    height: 493px; 
  }
  .torvehallerne_indhold{
   margin: 20px 25%;
}
.section_to_tekst{
	margin-right: 7%;
}
 }
</style>