---
import TilbageKnap from "../components/TilbageKnap.astro"
import CvKnap from "../components/CvKnap.astro"
import FremKnap from "../components/FremKnap.astro"
import FremTilbageKnap from "../components/FremTilbageKnap.astro"
import "../styles/generel.css";
import TopKnap from "../components/TopKnap.astro";
import CtaKnap from "../components/CtaKnap.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<CtaKnap text="Læs MERE OM TORVEHALLERNE"/>
	</body>
</html>
