---
import MainLayout from "../components/MainLayout.astro";
import SiteOverskrifter from "../components/SiteOverskrifter.astro";
import TopKnap from "../components/TopKnap.astro";
import CtaKnap from "../components/CtaKnap.astro";
import "../styles/generel.css";
---
<MainLayout>
    <section class="container">
        <div id="item1" class="gap">
            <SiteOverskrifter text="kontakt" text2="KONTAKTOPLYSNINGER"/>  
         </div>
         <article id="item3" class="item3_7" class="gap">
            <figure class="billede">
                <img src="https://placehold.co/220x265" alt="Portræt af Hans Peter Hagens">
            </figure>
                <p>
                    Kontakt mig hurtigt og nemt med spørgsmål eller for opstart af nye projekter. 
                    Jeg svarer typisk inden for 1-2 hverdage. 
                    Du kan kontakte mig gennem nedenstående kontaktoplysninger: 
                </p>
        </article>
        <article id="kontakt" class="gap">
            <div class="gap">
                 <h6>
                   Opstartsmøde
                 </h6>
                 <p>+45 33 13 27 25</p>
                 <div class="line_lang "></div>
            </div>
            <div class="gap">
                <h6>
                    MAIL
                </h6>
                <p>post@arkitekturvaerkstedet.dk</p>
                <div class="line_lang "></div>
           </div> 
           <div class="gap">
            <h6>
                TEGNESTUE ADRESSE
            </h6>
            <p>Strandgade 30, st. tv</p>
            <div class="line_lang "></div>
       </div>
       <div class="gap">
        <h6>
            CVR NR
        </h6>
        <p>xxx xxxxx xxxx</p>
        <div class="line_lang "></div>
   </div>
            </article>
    </section>
    <div class="bund">
    <TopKnap/>

</MainLayout>
<style>
 
  .container{
    grid-column: 2 / 5; /* Starter fra kolonne 2 og strækker sig til kolonne 5 */
  }
  .line_kort {
    border-top: 0.5px solid var(--thert);
    width: 10%;
    margin-top:0.5rem;
}
.line_lang {
        border-top: 0.5px solid var(--tertiary-color);
        width: 98%;
        margin: 3% 0;
        /* Lige margin over og under linjen */
    }
  .container > *{
    padding-bottom:4rem;
  }
  /* #item3 > *{
    padding-bottom:1rem;
  } */
  .bund{
    grid-column: 3 / span 2;
  grid-row: 2;
  justify-self: end;
  }
  .gap > *{
    padding-bottom:1rem;
  }
  #kontakt{
display:flex;
    flex-direction:column;
  }


  @media (min-width: 768px) and (max-width: 1024px) {
  .container{
    grid-column: 2 / 7; /* Starter fra kolonne 2 og strækker sig til kolonne 5 */
  }
  .sticky_menu {
    grid-row:1;
    grid-column: 1 / 2;
  }
  .bund{
    grid-column: 5 / span 2;
  grid-row: 2;
  justify-self: end;
  }
  #item1{
    margin-top:50px;
  }
  }
  @media (min-width: 1025px) {
  .sticky_menu {
    grid-row:1;
    grid-column: 1 / 3;
  }
  .container{
    grid-row:1;
    grid-column: 2 / 13; /* Starter fra kolonne 2 og strækker sig til kolonne 5 */
  }
  .bund{
grid-column: 9 / span 4;
  grid-row: 2;
  justify-self: end;
  }
  #item1{
    margin-top:50px;
  }
}
  </style>
