---
import MainLayout from "../components/MainLayout.astro";
import SiteOverskrifter from "../components/SiteOverskrifter.astro"
import "../styles/generel.css"
import CvKnap from "../components/CvKnap.astro";
import CtaKnap from "../components/CtaKnap.astro";
import TopKnap from "../components/TopKnap.astro";
---
<MainLayout>
<SiteOverskrifter text="OM ARKITEKTUR&shy;VÆRKSTEDET" text2="HANS PETER HAGENS"/>
    <section>
    <div class="intro_sektion">
        <p class="info_01">
           Som uddannet arkitekt fra Det Kongelige Danske Kunstakademi med bred international
            erfaring
            har jeg ledet adskillige
            prestigefyldte projekter i Danmark. Min passion for arkitekturens indflydelse på samspillet mellem mennesker, bygninger og
            landskaber er kernen i mit
            arbejde. Jeg stræber efter at skabe rum, der både forbedrer livskvaliteten og styrker fællesskabet.
            
        </p>
        <img class="img_01_hanspeter" src="/img/img01hp.webp" loading="lazy" alt="img_01_hanspeter">
        <p class="info_02">
             Arkitekturværkstedet etableredes som firma i eget navn i 1993 - med opgaver spændende fra traditionelle arkitekt- og håndværksopgaver, design, til landskab- og haveplanlægning. 
            
            
        </p>
        <div class="cvknap">
              <CvKnap/>
        </div>
     
    </div>

    <div class="om_sektion">
        <h6 class="h6_01">OM HANS PETER HAGENS, DIREKTØR OG ARKITEKT MAA</h6>
        <div class="kort_linje"></div>
        <p class="p_01">En fremtrædende milepæl i min karriere var åbningen af Torvehallerne på Israels Plads i 2011, et
            projekt der trodsede
            stor skepsis og nu tiltrækker op til 100.000 besøgende ugentligt. Dette projekt understreger mit engagement
            i at udvikle
            funktionelle og inspirerende offentlige rum, der reflekterer min dybe passion for innovativ arkitektur.</p>
    </div>

    <div>
        <img class="img_02_hanspeter" src="/img/img02hp.webp" loading="lazy" alt="img af hans peter">
    </div>

    <div class="firma_sektion">
        <h6 class="h6_02">FIRMAPROFIL</h6>
        <div class="kort_linje"></div>
        <p class="p_02">Hos Arkitekturværkstedet, en innovativ arkitekttegnestue i hjertet af København, har jeg
            ekspertise i både nybyggeri og
            renoveringer. Mine projekter spænder fra bolig- og erhvervsbyggeri til kulturelle og landskabsdesign. Jeg er
            stolt af
            at påtage og realisere idé- og udviklingsprojekter, som Torvehallerne på Israels Plads og Hovedstadens
            Hængende
            Haver.</p>
    </div>

    <div class="filosofi_sektion">
        <h6 class="h6_03">FILOSOFI OG MÅLSÆTNING</h6>
        <div class="kort_linje"></div>
        <p class="p_03">Mit mål er at tilføre kvalitet og værdi på alle niveauer af et projekt. Som leder af en mindre virksomhed vægter jeg et tæt samarbejde med alle parter højt, hvilket sikrer smukke resultater og en præcis økonomistyring af projekterne.</p>
    </div>

    <div class="ctaknap1">
        <a href="/kontakt">
  <CtaKnap text="KONTAKT MIG HER"/>
  </a>
</div>

    <div class="placering_sektion">
        <h6 class="h6_04">ARKITEKTURVÆRKSTEDETS PLACERING</h6>
        <div class="kort_linje"></div>
        <p class="p_04">Arkitekturværkstedet er placeret på Strandgade 30 st tv, 1401 København K, på
            Christianshavn, i
            hjertet af København.</p>
    </div>

    <div class="img_3_imger">
        <div class="img_03">
            <img src= "/img/img_om01.webp" loading="lazy" alt="Facade">
              <p style="font-style: italic;">Facade</p>
        </div>

        <div class="img_04">
              <img src= "/img/img_om02.webp" loading="lazy" alt=Mødelokale">
             <p style="font-style: italic;">Mødelokale</p>
        </div>

        <div class="img_05">
             <img src= "/img/img_om03.webp" loading="lazy" alt="Kontor">
            <p style="font-style: italic;">Kontor</p>
        </div>
    </div>

    <div class="maps_sektion">
        <h6 class="h6_04">FIND MIG PÅ GOOGLE MAPS</h6>
        <div class="maps_linje"></div>
    </div>
    <div class="maps"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.8524239555177!2d12.587773576955371!3d55.67416637305523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652533e9cd1e205%3A0xaa74b4640334ccf7!2sStrandgade%2030%2C%201401%20K%C3%B8benhavn%20K!5e0!3m2!1sda!2sdk!4v1716848918057!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

     </section>
     <div class="listviewcta">
        <a href="/kontakt">
    <CtaKnap text="LAD OS SAMARBEJDE"/>
</a>
    </div>
    </section>
    <div class="bund_grid">
        <div class="bund">
        <TopKnap/>
    </div>
    </div>

<style>
     a{
     text-decoration: none;
            color: inherit;
        }
    .kort_linje {
        border-top: 0.5px solid var(--secondary-color);
        width: 10%;
        margin: 5% 0% 3% 0%;
    }

      .maps_linje {
        border-top: 0.5px solid var(--secondary-color);
        width: 10%;
        margin: 5% 0% 3% 0%;
    }

     .img_01_hanspeter {
        padding: 8% 4% 8% 0%;
        }

    .cvknap{
        padding: 4% 50% 11% 37%;
    }

    .img_02_hanspeter {
        padding: 10% 10% 0% 10%;
    }

     .om_sektion {
        padding-top: 19%;
        padding-bottom: 5%;
        }

     .firma_sektion {
        padding-top: 19%;
        padding-bottom: 5%;
        }

     .filosofi_sektion   {
        padding-top: 19%;
        padding-bottom: 5%;
        }

        .placering_sektion {
        padding-top: 19%;
        padding-bottom: 5%;
        }
        .maps_sektion {
        padding-top: 19%;
        padding-bottom: 5%;
         margin-right: 5%;
        }

      .p_01, .p_02, .p_03, .p_04 {
               padding-top: 5%;
        }
    
        .ctaknap1{
            margin: 10% 20% 10% 20%;
        }

        .listviewcta{
               margin: 20% 20% 20% 20%;
        }

        .img_03, .img_04, .img_05{
           padding: 5% 2% 2% 0%;
        }
    .info_01, .info_02 {
       padding: 4% 10% 1% 0%;
    }
    .maps iframe{ 
       width: 100%;
       height: 405;
       margin-bottom:30px;
        margin-right: 5%;
    }

        .bund_grid{
    display:grid;
    grid-template-columns:1fr 5fr;
  }
    .bund:nth-child(1) {
        grid-column: 4; /* Placerer den første knap i første kolonne */
         margin-bottom: 4%;
    }
   
    @media (min-width: 768px) {
        .kort_linje {
        border-width: 1px;
         margin: -6% 0% 0% 0%;
        }

         .maps_linje {
               border-width: 1px;
         margin: -6% 0% 0% 0%;
        }

        .intro_sektion {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            /* Tre kolonner med lige bredde */
            grid-template-rows: repeat(3, 1fr);
            /* Tre kolonner med lige bredde */
            margin-right: 5%;
        }

        .info_01 {
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;
        }

        .info_02 {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
        }

        .img_01_hanspeter {
            grid-column: 3 / span 2;
            grid-row: 1 / span 3;
           padding: 4% 0% 0% 0%;
        }

        .cvknap {
            grid-column: 1 / span 2;
            grid-row: 3 / span 1;
            margin: 0% 0% 0% 0%;
        }

          .img_02_hanspeter {
        padding: 9% 28% 9% 19%;
        width: 100%;
    }

        .listviewcta{
         margin-left: 40%;
         margin-right: 40%;
         margin-bottom: 15%;
         margin-top: 15%;
}

    .p_01, .p_02, .p_03, .p_04 {
               padding-top: 0%;
        }

        .bund_grid{
        display:grid;
        grid-template-columns:1fr 5fr;
    }
    .bund:nth-child(1) {
        grid-column: 4; /* Placerer den første knap i første kolonne */
         margin-bottom: 4%;
    }

        .maps iframe{ 
       width: 362px;
       height: 405;
       margin-bottom:30px;
        margin-right: 5%;
    }
        /* ------- */

        .om_sektion {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(4, 1fr);
            padding-top: 4%;
            padding-bottom: 2%;
            margin-right: 7%;
        }

        .h6_01 {
            grid-column: 1 / span 5;
            grid-row: 1 / span 1;
        }

        .kort_linje {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
            margin-top: 3%;
        }

        .p_01 {
            grid-column: 2 / span 4;
            grid-row: 2 / span 3;
        margin-top: 3%;
        }

        /* ------- */

        .firma_sektion {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(4, 1fr);
            padding-top: 4%;
            padding-bottom: 2%;
                 margin-right: 7%;
        }

        .h6_02 {
            grid-column: 1 / span 5;
            grid-row: 1 / span 1;
        }

        .kort_linje {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
            margin-top: 3%;
        }


        .p_02 {
            grid-column: 2 / span 4;
            grid-row: 2 / span 3;
            margin-top: 3%;
        }

        /* ------- */

        .filosofi_sektion {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(4, 1fr);
            padding-top: 4%;
            padding-bottom: 2%;
                 margin-right: 7%;
        }

        .h6_03 {
            grid-column: 1 / span 5;
            grid-row: 1 / span 1;
        }

        .kort_linje {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
            margin-top: 3%;
        }

            .maps_linje {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
            margin-top: 3%;
        }


        .p_03 {
            grid-column: 2 / span 4;
            grid-row: 2 / span 3;
            margin-top: 3%;
        }

        /* ------- */

        .placering_sektion {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(4, 1fr);
            padding-top: 4%;
            padding-bottom: 2%;
            margin-right: 7%;
        }

        .h6_04 {
            grid-column: 1 / span 5;
            grid-row: 1 / span 1;
        }

        .kort_linje {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
            margin-top: 7%;
        }

        .maps_linje {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
            margin-top: 7%;
        }

        .p_04 {
            grid-column: 2 / span 4;
            grid-row: 2 / span 3;
            margin-top: 3%;
        }

                .img_3_imger {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3%;
            padding-top: 4%;
            padding-bottom: 2%;
        
    }
    .maps iframe{ 
       width: 900px;
       height: 405;
       margin-bottom:30px;
       max-width: 1130px;
        margin-right: 5%;
    }

}

    @media (min-width: 1020px)  {
        .ctaknap1{
            margin: 0% 24% 9% 63%;
        }

          .img_02_hanspeter {
        padding: 5% 27% 4% 19%;
    }

       .img_01_hanspeter {
            grid-column: 3 / span 2;
            grid-row: 1 / span 3;
           padding: 0% 20% 10% 0%;
        }
        .om_sektion{
            padding-top: 5%;
        padding-bottom: 3%;
        margin-right: 14%;
        }
        .placering_sektion {
       padding-top: 4%;
    padding-bottom: 0%;
    margin-right: 13%;
        }

        .maps_sektion{
    padding-top: 11%;
    padding-bottom: 4%;
     margin-right: 5%;
    }

    .kort_linje{
        margin-top: 7%;
    }

    .maps_linje{
        margin-top: 3%;
    }

     .firma_sektion {
        padding-top: 6%;
        padding-bottom: 3%;
        margin-right: 14%;
        }

     .filosofi_sektion   {
        padding-top: 9%;
        padding-bottom: 5%;
        margin-right: 14%;
        }

    }
</style>
