---
import MainLayout from "../components/MainLayout.astro";
import SiteOverskrifter from "../components/SiteOverskrifter.astro"
import "../styles/generel.css"
import CvKnap from "../components/CvKnap.astro";
import CtaKnap from "../components/CtaKnap.astro";
---
<MainLayout>
<SiteOverskrifter text="OM ARKITEKTUR&shy;VÆRKSTEDET" text2="HANS PETER HAGENS"/>
    <section>
    <div class="intro_sektion">
        <p class="info_01">Som uddannet arkitekt fra Det Kongelige Danske Kunstakademi med bred international
            erfaring
            har jeg ledet adskillige
            prestigefyldte projekter i Danmark.
        </p>
        <img class="img_01_hanspeter" src="../public/img/img01hp.webp" alt="img_01_hanspeter">
        <p class="info_02">Min passion for arkitekturens indflydelse på samspillet mellem mennesker, bygninger og
            landskaber er kernen i mit
            arbejde. Jeg stræber efter at skabe rum, der både forbedrer livskvaliteten og styrker fællesskabet.
        </p>
       <CvKnap/>
    </div>

    <div class="om_sektion">
        <h6 class="h6_01">OM HANS PETER HAGENS, DIREKTØR OG ARKITEKT MAA</h6>
        <div class="kort_linje"></div>
        <p class="p_01">En fremtrædende milepæl i min karriere var åbningen af Torvehallerne på Israels Plads i 2011, et
            projekt der trodsede
            stor skepsis og nu tiltrækker op til 100.000 besøgende ugentligt. Dette projekt understreger mit engagement
            i at udvikle
            funktionelle og inspirerende offentlige rum, der reflekterer min dybe passion for innovativ arkitektur.</p>
    </div>

    <div>
        <img class="img_02_hanspeter" src="../public/img/img02hp.webp" alt="img_02_hanspeter">
    </div>

    <div class="firma_sektion">
        <h6 class="h6_02">FIRMAPROFIL</h6>
        <div class="kort_linje"></div>
        <p class="p_02">Hos Arkitekturværkstedet, en innovativ arkitekttegnestue i hjertet af København, har vi
            ekspertise i både nybyggeri og
            renoveringer. Vores projekter spænder fra bolig- og erhvervsbyggeri til kulturelle og landskabsdesign. Vi er
            stolte af
            at påtage os og realisere idé- og udviklingsprojekter, som Torvehallerne på Israels Plads og Hovedstadens
            Hængende
            Haver.</p>
    </div>

    <div class="filosofi_sektion">
        <h6 class="h6_03">FILOSOFI OG MÅLSÆTNING</h6>
        <div class="kort_linje"></div>
        <p class="p_03">Hos Arkitekturværkstedet, en innovativ arkitekttegnestue i hjertet af København, har jeg
            ekspertise i både nybyggeri og
            renoveringer. Mine projekter spænder fra bolig- og erhvervsbyggeri til kulturelle og landskabsdesign. Jeg er
            stolt af
            at påtage mig og realisere idé- og udviklingsprojekter, som Torvehallerne på Israels Plads og Hovedstadens
            Hængende
            Haver.</p>
    </div>

  <CtaKnap text="KONTAKT MIG HER"/>

    <div class="placering_sektion">
        <h6 class="h6_04">ARKITEKTURVÆRKSTEDETS PLACERING</h6>
        <div class="kort_linje"></div>
        <p class="p_04">Arkitekturværkstedet er placeret på Strandgade 30 st tv, 1401 København K, på
            Christianshavn, i
            hjertet af København.</p>
    </div>

    <div class="img_3_imger">
        <div class="img_03">
            <img src="https://placehold.co/256x198" alt="">
            <p>Facade</p>
        </div>

        <div class="img_04">
            <img src="https://placehold.co/256x198" alt="">
            <p>Mødelokale</p>
        </div>

        <div class="img_05">
            <img src="https://placehold.co/256x198" alt="">
            <p>Kontor</p>
        </div>
    </div>

    <div class="maps_sektion">
        <h6 class="h6_04">FIND MIG PÅ GOOGLE MAPS</h6>
        <div class="kort_linje"></div>
    </div>
    <div class="maps"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.8524239555177!2d12.587773576955371!3d55.67416637305523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652533e9cd1e205%3A0xaa74b4640334ccf7!2sStrandgade%2030%2C%201401%20K%C3%B8benhavn%20K!5e0!3m2!1sda!2sdk!4v1716848918057!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

     </section>
<div class="listviewcta">
  <CtaKnap text="LAD OS SAMARBEJDE"/>
  </div>
</section>


<style>
    .kort_linje {
        border-top: 0.5px solid var(--secondary-color);
        width: 10%;
        margin: 3% 0% 3% 0%;
    }

    .img_02_hanspeter {
        padding: 10%;
    }

    .info_01, .info_02 {
       padding: 4% 10% 1% 0%;
    }
    .maps iframe{ 
       width: 362px;
       height: 405;
       margin-bottom:30px;
    }

    @media (min-width: 768px) {
        .kort_linje {
            border-width: 1px;
        }

        .intro_sektion {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            /* Tre kolonner med lige bredde */
            grid-template-rows: repeat(3, 1fr);
            /* Tre kolonner med lige bredde */
            
        }

        .info_01 {
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;
        }

        .info_02 {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
        }

        .img_01_hanspeter {
            grid-column: 3 / span 2;
            grid-row: 1 / span 3;
           padding: 0% 15% 6% 0%;
        }

        .knap_cv {
            grid-column: 1 / span 2;
            grid-row: 3 / span 1;
            padding: 1% 0% 17% 45%;
        }

        .listviewcta{
  margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 15%;
     margin-top: 15%;
}

        /* ------- */

        .om_sektion {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(4, 1fr);
            padding-top: 4%;
            padding-bottom: 2%;
            margin-right: 7%;
        }

        .h6_01 {
            grid-column: 1 / span 5;
            grid-row: 1 / span 1;
        }

        .kort_linje {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
        }

        .p_01 {
            grid-column: 2 / span 4;
            grid-row: 3 / span 2;
        }

        /* ------- */

        .firma_sektion {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(4, 1fr);
            padding-top: 4%;
            padding-bottom: 2%;
                 margin-right: 7%;
        }

        .h6_02 {
            grid-column: 1 / span 5;
            grid-row: 1 / span 1;
        }

        .kort_linje {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
        }

        .p_02 {
            grid-column: 2 / span 4;
            grid-row: 3 / span 2;
        }

        /* ------- */

        .filosofi_sektion {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(4, 1fr);
            padding-top: 4%;
            padding-bottom: 2%;
                 margin-right: 7%;
        }

        .h6_03 {
            grid-column: 1 / span 5;
            grid-row: 1 / span 1;
        }

        .kort_linje {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
        }

        .p_03 {
            grid-column: 2 / span 4;
            grid-row: 3 / span 2;
        }

        /* ------- */

        .placering_sektion {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(4, 1fr);
            padding-top: 4%;
            padding-bottom: 2%;
            margin-right: 7%;
        }

        .h6_04 {
            grid-column: 1 / span 5;
            grid-row: 1 / span 1;
        }

        .kort_linje {
            grid-column: 1 / span 2;
            grid-row: 2 / span 1;
        }

        .p_04 {
            grid-column: 2 / span 4;
            grid-row: 3 / span 2;
        }
    .maps iframe{ 
       width: 1263px;
       height: 405;
       margin-bottom:30px;
    }
        /* ------- */

        .img_3_imger {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3%;
                   padding-top: 4%;
            padding-bottom: 2%;
        }
    }
</style>
