---
import { redirectToDefaultLocale } from "astro:i18n";
import MainLayout from "../components/MainLayout.astro";
import SiteOverskrifter from "../components/SiteOverskrifter.astro";
import "../styles/generel.css";
import ProjectCard from "../components/ProjectCard.astro";
import CtaKnap from "../components/CtaKnap.astro";
import TopKnap from "../components/TopKnap.astro";

const data = await fetch("https://bwejzjnppscnjzvmnefp.supabase.co/rest/v1/database", {
   method: "GET",
  headers:{
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3ZWp6am5wcHNjbmp6dm1uZWZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTY1NDk4NjYsImV4cCI6MjAzMjEyNTg2Nn0.SmzupH_uwfFyHXFJMw7jt9RrXWUobKy5c_fMOpJRooI",
  },
}).then((res) => res.json());


console.log(data)
---
<MainLayout >
   
 <SiteOverskrifter text="PRIVATE PROJEKTER" text2="GALLERI"/>
  <section class="listeview_grid">

    {
  data.map ((product) => {
    return (<ProjectCard data = {product} />)
  })
 }
  </section>
<div class="listviewcta">
  <CtaKnap text="LAD OS SAMARBEJDE"/>
  </div>

  <div class="bund_grid">
    <div class="bund">
      <TopKnap/>
    </div>
    </div>
</MainLayout>

<style>
      .bund_grid{
    display:grid;
    grid-template-columns:1fr 5fr;
  }
    .bund:nth-child(1) {
        grid-column: 4; /* Placerer den første knap i første kolonne */
    }

  .listeview_grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

}
.listviewcta{
  margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 20%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .listeview_grid {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

/* Media queries for desktop (1025px and above) */
@media (min-width: 1025px) {
  .listeview_grid {
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}
</style>
