---
const {text, variant} = Astro.props;
import "../styles/generel.css";

---
<button type="button" class={variant}>
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
        <path d="M15.75 18.75L9.75 12.75L15.75 6.75" stroke="#E73127" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <span class="label">
        {text}
    </span>
</button>

<style>
    button{
    align-items: center;
    padding: 0.5rem;;
    background: none;
    color: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
    }
    .primary{
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .secondary{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        white-space: normal;
    }
    button>.label{
       text-align: left;
    }
    .label{
    font-size: var(--footer-secondary-font-size);
      letter-spacing: 0.081rem;
      text-transform: var(--text-transform-uppercase);
      font-weight: var(--font-weight-medium);
      color: var(--secondary-color);
      word-wrap: break-word; /* Sikrer at ord kan bryde af */
    white-space: normal; /* Tillader white space at bryde normalt */
    max-width: 60%; 
    }

    /*TABLET TABLET TABLET TABLET*/
    @media (min-width: 768px) and (max-width: 1024px) {
.label{
  letter-spacing: 0.1375rem;
}
/* brugt chat til at lave billedet større og fjerne det gamle */
svg{
  width: 2rem;
    height: 2rem; 
}
    }
    /*DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP*/

@media (min-width: 1025px) {
  .label{
  font-size: var(--footer-secondary-font-size);
  letter-spacing: 0.1375rem;
}
svg{
  width: 3rem;
    height: 3rem; 
}}
    </style>
    </style>