---
import "../src/styles/generel.css";

import Navigation from "../components/Navigation.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="favicon" href="../public/img/favi.png"/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../src/styles/generel.css" />
    <title>Astro</title>
  </head>
  <body>
    <header><Navigation /></header>
    <main>
    </main>
    <footer></footer>
  </body>
  </html>