---
import "../styles/generel.css";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "./Footer.astro";
import TopKnap from "./TopKnap.astro";


---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex">
  
    <link rel="icon" type="favicon" href="#"/>
    <link rel="stylesheet" href="../styles/generel.css" />
    <title>Astro</title>
   
  <style>
.body_grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin-right: 3%;
} 
body{
  max-width: 1500px;
  margin-inline: auto;
}

@media (min-width: 768px){
 .body_grid {
  margin-right: 8%;
 }

}

.menu_grid {
  grid-column: 1;
  grid-row: 1;
}
.indhold_grid {
   grid-column: 1 / span 4;
   grid-row: 1;
   margin-left: 20%;
}
@media (min-width: 1025px) {
.indhold_grid {
   margin-left: 15%;
}
}

html {
            scroll-behavior: smooth;
        }
    </style> 
  <div id="top"></div>
  </head>
  <body>
   <header>
<Header />
  </header>
    <main>

      <div class="body_grid">
        <div class="menu_grid">
      <Navigation />
      </div>
      <div class="indhold_grid">
      <slot />
      </div>
      </div>

    </main>
    <footer>
       <Footer />
      <footer />
   
  </body>
  </html>
  <style>

    .menu_grid {
      grid-column: 1;
      grid-row: 1;
    }
    .indhold_grid {
       grid-column: 2 / span 6;
       grid-row: 1;
    }
    html {
                scroll-behavior: smooth;
            }
        </style> 

