---
import "../styles/generel.css";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "./Footer.astro";

---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="favicon" href="#"/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../styles/generel.css" />
    <title>Astro</title>
  </head>
  <body>
   <header>
<Header />
  </header>
    <main>
      <Navigation />
      <slot />
    </main>
    <footer>
       <Footer />
      <footer />
   
  </body>
  </html>

  <style>
    main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* Afgør afstanden mellem kolonnerne */
  }
    @media (min-width: 768px) and (max-width: 1024px) {
    main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px; /* Afgør afstanden mellem kolonnerne */
  }
}
    @media (min-width: 1025px) {
    main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px; /* Afgør afstanden mellem kolonnerne */
  }
}
    </style>