---
const { data } = Astro.props;
---

<img src={data.projektbillede} alt="billede">
<!-- <button type="button" onclick="window.location.href="> -->
    <div class="button"><a href={`/singleview/${data.id}`}> <span class="label">
        {data.projektnavn}
    </span>
 <slot>
        <svg xmlns="http://www.w3.org/2000/svg" width="256" height="8" viewBox="0 0 256 8" fill="none">
            <path d="M255.354 4.35355C255.549 4.15829 255.549 3.84171 255.354 3.64645L252.172 0.464466C251.976 0.269204 251.66 0.269204 251.464 0.464466C251.269 0.659728 251.269 0.976311 251.464 1.17157L254.293 4L251.464 6.82843C251.269 7.02369 251.269 7.34027 251.464 7.53553C251.66 7.7308 251.976 7.7308 252.172 7.53553L255.354 4.35355ZM0 4.5H255V3.5H0V4.5Z" fill="#E73127"/>
          </svg>
        </slot></a></div>
   
    <!-- sæt en kortere pil inden i knappen, der hvor kanppen skal sættes på siden den skal bruges, så slot tagget trækker den ind i stedet for den svg der er nu -->
   
<!-- </button> -->

<style>
    .button{ 
    display: flex;
    flex-direction: column;

    padding: 0.5rem;;
    background: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
    }

    .button a {
        list-style: none;
        text-decoration: none;
    }

svg {
    flex-shrink: 0;
    transform-origin: left;
    transition: transform 0.5s ease; /* Glat overgang kun for transformationer */

}
slot {
    flex-shrink: 0;
    transform-origin: left;
    transition: transform 0.5s ease; /* Glat overgang kun for transformationer */


}
/* virker ikke på slot */
/* button:hover slot {
    transform: scaleX(1.1);
} */


button:hover svg {
    transform: scaleX(1.1);
}

.label{
    font-size: var(--footer-secondary-font-size);
      letter-spacing: 0.081rem;
      text-transform: var(--text-transform-uppercase);
      font-weight: var(--font-weight-medium);
      color: var(--secondary-color);
      text-align: left;
    }
button:hover .label{
    color: var(--tertiary-color);
}
    /*TABLET TABLET TABLET TABLET*/
    @media (min-width: 768px) and (max-width: 1024px) {
        .label{
  font-size: var(--footer-secondary-font-size);
  letter-spacing: 0.1375rem;
}
svg {
    flex-shrink: 0;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(1.3);
    }

    button:hover svg {
    transform: scaleX(1.4);
}
}
    /*DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP*/

@media (min-width: 1025px) {
  .label{
  font-size: var(--footer-secondary-font-size);
  letter-spacing: 0.1375rem;
}
svg {
    flex-shrink: 0;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(1.3);
    }

    button:hover svg {
    transform: scaleX(1.4);
}
}

    </style>