---
import styles from "../styles/general.css"
---

<article class="site_overskrifter">
    <h2 class="so_h2">OM ARKITEKTURVÆRKSTEDET</h2>
    <div class="line_lang"></div>
    <h3 class="so_h3">HANS PETER HAGENS</h3>
    <div class="line_kort"></div>
</article>

<style>
    .line_lang {
        border-top: 0.5px solid var(--secondary-color);
        width: 98%;
        margin: 3% 0;
        /* Lige margin over og under linjen */
    }

    .line_kort {
        border-top: 0.5px solid var(--secondary-color);
        width: 10%;
        margin: 10% 0% 3% 0%;
    }

    @media (min-width: 768px) {
        .line_lang {
            border-width: 1px;
        }

        .line_kort {
            border-width: 1px;
        }
    }
</style>