---
const {text, text2} = Astro.props;
import "../styles/generel.css";
---

<article class="site_overskrifter">
    <h2 class="so_h2">{text}</h2>
    <div class="line_lang"></div>
    <h3 class="so_h3">{text2}</h3>
    <div class="line_kort"></div>
</article>

<style>
    .line_lang {
        border-top: 0.5px solid var(--secondary-color);
        width: 98%;
        margin: 2% 0;
        /* Lige margin over og under linjen */
    }
    .line_kort {
        border-top: 0.5px solid var(--secondary-color);
        width: 6%;
        margin: 6% 0% 3% 0%;
    }

    .so_h2{
        word-wrap: break-word;
    }

    .site_overskrifter{
        margin-top: 12%;
    }
    @media (min-width: 768px) {
        .line_lang {
            border-width: 1.5px;
        }

        .line_kort {
            border-width: 2px;
        }

         .site_overskrifter{
        margin-top: 6%;
    }
    }

        @media (min-width: 1000px) {
         .site_overskrifter{
        margin-top: 4%;
    }
    }
</style>