---
import "../styles/generel.css";

---
<button type="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M18 15L12 9L6 15" stroke="#E73127" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    <span class="label">
        Tilbage til toppen
    </span>

</button>
<style>
    button{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    background: none;
    color: none;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
    }
    .label{
    font-size: var(--footer-secondary-font-size);
      letter-spacing: 0.081rem;
      text-transform: var(--text-transform-uppercase);
      font-weight: var(--font-weight-medium);
      color: var(--secondary-color);
    }
    button:hover .label{
    color: var(--tertiary-color);
}
    </style>